* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "logoFont";
  src: url(Assets/Fonts/Minison.ttf);
}
:root {
  --shadow-mid: 0px 6px 20px 0px rgba(109, 98, 98, 0.366);
  --linear-Color-Circle: linear-gradient(43deg, #ff6a00, #ee0979, #4facfe);
  --bg-linear-color: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #009cff;
}

/*======== Common Classes start ========*/

.f-Center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-Center-Colm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  max-width: 142rem;
  margin: 0 auto;
}
.b-radius {
  border-radius: 1.6rem;
}
.img_WH100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*========= Common Classes end ===============*/

/*================Bg start ===============*/

.background {
  background-image: var(--bg-linear-color);

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.animat-box-bg {
  position: absolute;
  border-radius: 50%;
  background: var(--linear-Color-Circle);
}
.bottom {
  bottom: -50vh;
  right: -40vh;
  width: 100vh;
  height: 100vh;
  animation: move 5s ease-in-out infinite;
}
.top {
  top: -10vh;
  left: -30vh;
  width: 80vh;
  height: 100vh;
  animation: move 5s ease-in-out infinite;
}

.center {
  animation: move 5s ease-in-out infinite;
  top: 6vh;
  right: 1%;
  width: 30vh;
  height: 30vh;
}

@keyframes move {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  25% {
    border-radius: 60% 40% 60% 40% / 40% 60% 40% 60%;
  }
  50% {
    border-radius: 40% 60% 40% 60% / 60% 40% 60% 40%;
  }
  75% {
    border-radius: 60% 40% 60% 40% / 40% 60% 40% 60%;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

/*================Bg End ===============*/

/*!================Nav start ===============*/

.noteOrg {
  padding: 0 2rem;
  grid-area: nav;
  justify-content: start;
  background-color: white;
  border-radius: 16px;
  text-transform: capitalize;
  word-spacing: 0.6rem;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Dosis", Courier, monospace;
  box-shadow: var(--shadow-mid);

  & p {
    background: linear-gradient(rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    -webkit-background-clip: text;
    color: transparent;
  }
  & p span {
    background: linear-gradient(43deg, #ff6a00, #ee0979, #4facfe);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
  }
  & .icon {
    margin-left: 1rem;
    margin-bottom: -0.8rem;
  }
}
.navVideo {
  grid-area: nVi;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.6rem;
  }
}
/*!================Nav End ===============*/
.mainContainer {
  gap: 4rem;
}
main {
  display: grid;
  background-color: rgba(255, 255, 255, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.678);
  backdrop-filter: blur(2rem);
  box-shadow: var(--shadow-mid);
  padding: 5rem 3rem;
  border-radius: 3rem;
  grid-template-columns: repeat(10, minmax(96px, 1fr));
  grid-template-rows: repeat(11, 104px);
  grid-gap: 2rem;
  width: 121.6rem;
  grid-template-areas:
    "pr01 pr01 pr02 pr02 pr03 pr03 pr04 pr04 pr05 pr05 "
    "pr01 pr01 pr02 pr02 pr03 pr03 pr04 pr04 pr05 pr05 "
    "pr01 pr01 pr07 pr07 pr03 pr03 pr09 pr09 pr05 pr05 "
    "pr06 pr06 pr07 pr07 pr08 pr08 pr09 pr09 pr10 pr10 "
    "pr06 pr06 pr07 pr07 pr08 pr08 pr09 pr09 pr10 pr10 "
    "pr06 pr06 pr12 pr12 pr08 pr08 pr14 pr14 pr10 pr10 "
    "pr11 pr11 pr12 pr12 pr13 pr13 pr14 pr14 pr15 pr15 "
    "pr11 pr11 pr12 pr12 pr13 pr13 pr14 pr14 pr15 pr15 "
    "pr11 pr11  .    .   pr13 pr13  .    .   pr15 pr15 "
    " .    .    .    .    .    .    .    .    .    .   "
    " .    .    .    .    .    .    .    .    .    .   "
    " .    .    .    .    .    .    .    .    .    .   ";
}

.appName_Container {
  overflow: hidden;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  position: relative;

  & .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Urbanist", Courier, monospace;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  &:hover .caption {
    opacity: 1;
  }
  &:hover img {
    transform: scale(1.1);
  }
  &:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
}

.pr1 {
  grid-area: pr01;
}

.pr2 {
  grid-area: pr02;
  position: relative;
}

.pr3 {
  grid-area: pr03;
}
.pr4 {
  grid-area: pr04;
}
.pr5 {
  grid-area: pr05;
}
.pr6 {
  grid-area: pr06;
}
.pr7 {
  grid-area: pr07;
}
.pr8 {
  grid-area: pr08;
}
.pr9 {
  grid-area: pr09;
}
.pr10 {
  grid-area: pr10;
}
.pr11 {
  grid-area: pr11;
}
.pr12 {
  grid-area: pr12;
}
.pr13 {
  grid-area: pr13;
}
.pr14 {
  grid-area: pr14;
}
.pr15 {
  grid-area: pr15;
}
